:root {
  --primary-color: white;
  --heading-font-family: "Mukta", sans-serif;
  --default-font-family: "Raleway", sans-serif;
}

body {
  background-color: black;
}
h1 {
  font-family: var(--heading-font-family);
  color: var(--primary-color);
  font-size: 70px;
  font-weight: light;
  padding-left: 30px;
  padding-top: 30px;
}
h2 {
  font-family: var(--default-font-family);
  color: var(--primary-color);
  font-size: 30px;
  line-height: 1.8;
  padding-left: 30px;
}
