:root {
  --primary-color: white;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Raleway", sans-serif;
}

body {
  background-color: black;
  color: var(--primary-color);
  padding-left: 30px;
  padding-right: 30px;
}

.intro {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  height: 250px;
  width: 380px;
  padding-top: 20px;
}

.intro h1 {
  font-family: var(--heading-font-family);
  font-size: 70px;
  font-weight: light;
  padding-top: 3px;
}

.intro h2 {
  font-family: var(--default-font-family);
  font-size: 30px;
  line-height: 1.8;
}

.branding {
  border: 2px solid white;
  color: white;
  opacity: 0.8;
  margin-top: 30px;
  padding: 12px;
}

.hook {
  font-weight: bolder;
  text-align: left;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 70px;
  font-weight: light;
  padding-top: 3px;
  border-bottom: 2px solid white;
  height: 100px;
  width: 380px;
}

.content-container h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
  line-height: 1.8;
}

.content-container img {
  width: 220px;
  margin: 90px;
}

.work-container h1 {
  font-family: var(--heading-font-family);
  font-size: 70px;
  font-weight: light;
  padding-top: 3px;
  border-bottom: 2px solid white;
  height: 100px;
  width: fit-content;
}

.work-container h3 {
  font-size: 37px;
  font-family: var(--default-font-family);
  font-weight: bold;
  padding-bottom: 15px;
}

.work-container h4 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 25px;
}

img {
  width: 300px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

@media (max-width: 850px) {
  .intro h1 {
    font-size: 40px;
  }
  .intro h2 {
    font-size: 20px;
  }
  .intro {
    height: 170px;
    width: 270px;
  }
  .content-container img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-container h1 {
    text-align: center;
    font-size: 50px;
    border-bottom: 2px solid white;
    height: 100px;
    width: 100%;
  }
  .content-container h2 {
    padding: 0px 20px;
    text-align: center;
  }
  .content-container p {
    padding: 0px 20px;
    text-align: center;
  }
  .about-me-button {
    text-align: center;
  }
  img {
    display: none;
  }
  .hook {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  p {
    padding-right: 20px;
  }
  .work-container img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .work-container h1 {
    text-align: center;
    font-size: 50px;
    border-bottom: 2px solid white;
    height: 100px;
    width: 100%;
  }
}
p {
  line-height: 1.8;
  font-family: var(--default-font-family);
}
